<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E556EF941BD7DD1A00BCBA74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E556EFA81BD7DD1A00BCBA74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E556EFB31BD7DD1B00BCBA74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
